# 筛选病人流程

## 1、连接数据库<br>
由于使用notebook暂时只支持R、python，所以这里使用python运行SQL脚本语言
连接数据库方式比较简单，具体可参照此代码段

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

from IPython.display import display,HTML
%matplotlib inline
plt.style.use('ggplot')

#创建数据库连接
sqluser='postgres'
dbname='mimic'
password='19871115'
schema_name='mimiciii'
con=psycopg2.connect(host='192.168.8.103',dbname=dbname,password=password,user=sqluser)
query_schema='set search_path to '+schema_name+';'

## 2、查询患者的年龄和ICU停留时间<br>
可以想到，要使用的是patients和icustays这两张表

In [9]:
query=query_schema+"""
SELECT icu.subject_id,icu.hadm_id,icu.icustay_id,icu.intime,icu.outtime
,EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60/60/24 as icu_length_of_stay --在ICU停留时间
,EXTRACT(EPOCH FROM  icu.intime-pat.dob)/60/60/24/365.242 AS age --显示年龄
FROM icustays icu
  INNER JOIN patients pat
  ON icu.subject_id = pat.subject_id
  limit 10
"""
df=pd.read_sql_query(query,con)
df

,subject_id,hadm_id,icustay_id,intime,outtime,icu_length_of_stay,age
0,2,163353,243653,2138-07-17 21:20:07,2138-07-17 23:32:21,0.091829,0.002434
1,3,145834,211552,2101-10-20 19:10:11,2101-10-26 20:43:09,6.064560,76.526792
2,4,185777,294638,2191-03-16 00:29:31,2191-03-17 16:46:31,1.678472,47.845047
3,5,178980,214757,2103-02-02 06:04:24,2103-02-02 08:06:00,0.084444,0.000693
4,6,107064,228232,2175-05-30 21:30:54,2175-06-03 13:39:54,3.672917,65.942297
5,7,118037,278444,2121-05-23 15:35:29,2121-05-23 22:01:00,0.267720,0.001779
6,7,118037,236754,2121-05-25 03:26:01,2121-05-25 21:10:19,0.739097,0.005868
7,8,159514,262299,2117-11-20 12:36:10,2117-11-21 14:24:55,1.075521,0.001438
8,9,150750,220597,2149-11-09 13:07:02,2149-11-14 20:52:14,5.323056,41.790228
9,10,184167,288409,2103-06-28 11:39:05,2103-07-06 13:51:43,8.092106,0.001329

从结果中可以看到，对于患者7，看了一次病，但是有两次ICU记录，像这样的情况要进行处理，具体处理方式还需要讨论

## 3、为每一次进入ICU记录排序，并关联每一次ICU内是否使用呼吸机

In [13]:
query=query_schema+"""
SELECT icu.subject_id,icu.hadm_id,icu.icustay_id,icu.intime,icu.outtime
,EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60/60/24 as icu_length_of_stay --在ICU停留时间
,EXTRACT(EPOCH FROM  icu.intime-pat.dob)/60/60/24/365.242 AS age --显示年龄
,rank() OVER (PARTITION BY icu.subject_id ORDER BY icu.intime) AS icustay_id_order
,vent.vent
FROM icustays icu
  INNER JOIN patients pat
  ON icu.subject_id = pat.subject_id
  LEFT JOIN ventfirstday vent
  ON icu.icustay_id=vent.icustay_id
  limit 10
"""
df=pd.read_sql_query(query,con)
df

,subject_id,hadm_id,icustay_id,intime,outtime,icu_length_of_stay,age,icustay_id_order,vent
0,2,163353,243653,2138-07-17 21:20:07,2138-07-17 23:32:21,0.091829,0.002434,1,0
1,3,145834,211552,2101-10-20 19:10:11,2101-10-26 20:43:09,6.064560,76.526792,1,1
2,4,185777,294638,2191-03-16 00:29:31,2191-03-17 16:46:31,1.678472,47.845047,1,0
3,5,178980,214757,2103-02-02 06:04:24,2103-02-02 08:06:00,0.084444,0.000693,1,0
4,6,107064,228232,2175-05-30 21:30:54,2175-06-03 13:39:54,3.672917,65.942297,1,0
5,7,118037,278444,2121-05-23 15:35:29,2121-05-23 22:01:00,0.267720,0.001779,1,0
6,7,118037,236754,2121-05-25 03:26:01,2121-05-25 21:10:19,0.739097,0.005868,2,0
7,8,159514,262299,2117-11-20 12:36:10,2117-11-21 14:24:55,1.075521,0.001438,1,1
8,9,150750,220597,2149-11-09 13:07:02,2149-11-14 20:52:14,5.323056,41.790228,1,1
9,10,184167,288409,2103-06-28 11:39:05,2103-07-06 13:51:43,8.092106,0.001329,1,0

通过icustay_id_order和vent 可以判断，是否符合要求

## 4、分别对年龄、ICU停留时间、做出判断、是否第一次进入ICU、是否机械通气 做出判断

在这里可以看出，对于某一个条件的筛选过程不是直接把这部分病人删除，而是，给每一个病人加一个字段，用于标记是否符合条件，这一点非常方便

In [6]:
query=query_schema+"""
--先创建一个icu_info的临时表
WITH icu_info as(
SELECT icu.subject_id,icu.hadm_id,icu.icustay_id,icu.intime,icu.outtime,vent.vent
,EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60/60/24 as icu_length_of_stay --在ICU停留时间
,EXTRACT(EPOCH FROM  icu.intime-pat.dob)/60/60/24/365.242 AS age --显示年龄
,rank() OVER (PARTITION BY icu.subject_id ORDER BY icu.intime) AS icustay_id_order

FROM icustays icu
  INNER JOIN patients pat
  ON icu.subject_id = pat.subject_id
  LEFT JOIN ventfirstday vent
  ON icu.icustay_id=vent.icustay_id

--LIMIT 1000
)
--在上面的临时表中查询
SELECT
  icu_info.subject_id,icu_info.hadm_id,icu_info.icustay_id,age,icu_info.intime,icu_info.outtime
--第一个限制条件，在ICU停留超过1天
,case
  when icu_info.icu_length_of_stay<1 then 1
  ELSE  0 END
AS exclusion_los
--限制年龄要大于16岁 为成年
,CASE
  WHEN icu_info.age<16 THEN 1
  ELSE 0 END
AS exclusion_age
--第一次进入ICU的患者
,CASE
  WHEN icu_info.icustay_id_order!=1 then 1
  ELSE 0 END
AS exclusion_first_stay
--在ICU中是否有机械通气
,CASE
  WHEN icu_info.vent=0 then 1
  ELSE 0 END
AS exclusion_vent

FROM icu_info
limit 10
"""
df=pd.read_sql_query(query,con)
df

,subject_id,hadm_id,icustay_id,age,intime,outtime,exclusion_los,exclusion_age,exclusion_first_stay,exclusion_vent
0,2,163353,243653,0.002434,2138-07-17 21:20:07,2138-07-17 23:32:21,1,1,0,1
1,3,145834,211552,76.526792,2101-10-20 19:10:11,2101-10-26 20:43:09,0,0,0,0
2,4,185777,294638,47.845047,2191-03-16 00:29:31,2191-03-17 16:46:31,0,0,0,1
3,5,178980,214757,0.000693,2103-02-02 06:04:24,2103-02-02 08:06:00,1,1,0,1
4,6,107064,228232,65.942297,2175-05-30 21:30:54,2175-06-03 13:39:54,0,0,0,1
5,7,118037,278444,0.001779,2121-05-23 15:35:29,2121-05-23 22:01:00,1,1,0,1
6,7,118037,236754,0.005868,2121-05-25 03:26:01,2121-05-25 21:10:19,1,1,1,1
7,8,159514,262299,0.001438,2117-11-20 12:36:10,2117-11-21 14:24:55,0,1,0,0
8,9,150750,220597,41.790228,2149-11-09 13:07:02,2149-11-14 20:52:14,0,0,0,0
9,10,184167,288409,0.001329,2103-06-28 11:39:05,2103-07-06 13:51:43,0,1,0,1

根据exclusion_*字段可以看出每一次入ICU记录是否符合条件，方便后期统计使用

In [13]:
print('{:20s} {:5d}'.format('Observations', df.shape[0]))
idxExcl = np.zeros(df.shape[0],dtype=bool)
for col in df.columns:
    if "exclusion_" in col:
        print('{:20s} {:5d} ({:2.2f}%)'.format(col, df[col].sum(), df[col].sum()*100.0/df.shape[0]))
        idxExcl = (idxExcl) | (df[col]==1)
# print a summary of how many were excluded in total
print('')
print('{:20s} {:5d} ({:2.2f}%)'.format('Total excluded', np.sum(idxExcl), np.sum(idxExcl)*100.0/df.shape[0]))

Observations         61532
exclusion_los        12308 (20.00%)
exclusion_age         8109 (13.18%)
exclusion_first_stay 15056 (24.47%)
exclusion_vent       36867 (59.92%)

Total excluded       45221 (73.49%)

使用以上代码，就可以统计每一个限制条件排除了多少病人，最终符合条件的就是exclusion_*字段全为0的患者。

## 5、想进一步加入影像学检查

这一部分内容只是一个探索，由于mimic中只有影像学的报告，在noteevents表中，category字段记录报告的类型，description字段记录检查报告的内容，但是通过内容的观察，也很难看出对于疾病有用的诊断信息，但部分是一些做检查的信息，很难通过这个来排查患者。

In [14]:
query=query_schema+"""
SELECT description
FROM noteevents
  WHERE category='Radiology' AND description LIKE '%CHEST%'
GROUP BY description
limit 10
"""
df=pd.read_sql_query(query,con)
df

                            description
0         CHEST SGL VIEW/LINE PLACEMENT
1     P CHEST PORT. LINE PLACEMENT PORT
2                   CT CHEST W/CONTRAST
3          P BABYGRAM (CHEST ONLY) PORT
4              CHEST (APICAL LORD ONLY)
5                 CT CHEST W/O CONTRAST
6               P CHEST (PA & LAT) PORT
7  LP RIB UNILAT, W/ AP CHEST LEFT PORT
8      MRA (CHEST & ABD) W&W/O CONTRAST
9       B RIB UNILAT, W/ AP CHEST BILAT

最终决定使用noteevents做一个尝试，做一个假设，在ICU期间，是否做过胸部影像学检查，如果没做过，则排除

In [16]:
query=query_schema+"""
--先创建一个icu_info的临时表
WITH icu_info as(
SELECT icu.subject_id,icu.hadm_id,icu.icustay_id,icu.intime,icu.outtime,vent.vent
,EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60/60/24 as icu_length_of_stay --在ICU停留时间
,EXTRACT(EPOCH FROM  icu.intime-pat.dob)/60/60/24/365.242 AS age --显示年龄
,rank() OVER (PARTITION BY icu.subject_id ORDER BY icu.intime) AS icustay_id_order
FROM icustays icu
  INNER JOIN patients pat
  ON icu.subject_id = pat.subject_id
  LEFT JOIN ventfirstday vent
  ON icu.icustay_id=vent.icustay_id

)
,chest_num AS (
  SELECT icu.subject_id,icu.hadm_id,icu.icustay_id,count(*) AS chest_num
 -- ,count(*) OVER (PARTITION BY note.hadm_id ORDER BY note.charttime)
FROM icustays icu
  LEFT JOIN noteevents note
  ON  icu.hadm_id=note.hadm_id
  WHERE note.charttime>icu.intime
  AND note.charttime<icu.outtime
  AND note.category= 'Radiology'
  AND note.description LIKE '%CHEST%'
GROUP BY icu.subject_id,icu.hadm_id,icu.icustay_id
)
--在上面的临时表中查询
SELECT
  icu_info.subject_id,icu_info.hadm_id,icu_info.icustay_id,age,icu_info.intime,icu_info.outtime
--第一个限制条件，在ICU停留超过1天
,case
  when icu_info.icu_length_of_stay<1 then 1
  ELSE  0 END
AS exclusion_los
--限制年龄要大于16岁 为成年
,CASE
  WHEN icu_info.age<16 THEN 1
  ELSE 0 END
AS exclusion_age
--第一次进入ICU的患者
,CASE
  WHEN icu_info.icustay_id_order!=1 then 1
  ELSE 0 END
AS exclusion_first_stay
--在ICU中是否有机械通气
,CASE
  WHEN icu_info.vent=0 then 1
  ELSE 0 END
AS exclusion_vent
,CASE
  WHEN chest_num.chest_num<1 THEN 1
  ELSE 0 END
AS exclusion_chest
FROM icu_info
LEFT JOIN chest_num
  ON chest_num.icustay_id=icu_info.icustay_id

"""
df=pd.read_sql_query(query,con)
df

,subject_id,hadm_id,icustay_id,age,intime,outtime,exclusion_los,exclusion_age,exclusion_first_stay,exclusion_vent,exclusion_chest
0,55973,152234,200001,61.071279,2181-11-25 19:06:12,2181-11-28 20:59:25,0,0,1,1,0
1,27513,163557,200003,48.296271,2199-08-02 19:50:04,2199-08-08 17:09:18,0,0,0,0,0
2,10950,189514,200006,54.072308,2159-09-03 11:28:14,2159-09-04 19:08:10,0,0,1,0,0
3,20707,129310,200007,43.345013,2109-02-17 10:03:37,2109-02-18 17:03:12,0,0,0,1,0
4,29904,129607,200009,47.555978,2189-11-30 10:34:32,2189-12-02 14:17:37,0,0,0,0,0
5,11861,192256,200010,27.253056,2132-08-04 23:03:19,2132-08-05 22:14:11,1,0,1,1,0
6,93535,121562,200011,84.234751,2188-08-06 01:39:24,2188-08-07 16:50:53,0,0,1,0,0
7,28448,177527,200012,32.989682,2153-12-23 05:12:55,2153-12-23 15:55:54,1,0,0,1,0
8,9514,127229,200014,84.730042,2105-02-16 23:16:48,2105-02-18 16:53:29,0,0,0,0,0
9,74032,117458,200016,67.236698,2150-12-02 15:59:20,2150-12-03 14:54:29,1,0,1,1,0
10,15909,135069,200017,0.002499,2138-03-17 21:54:36,2138-05-14 17:12:41,0,1,0,0,0
11,20948,109512,200018,0.004461,2157-11-16 15:06:16,2157-11-16 17:26:32,1,1,0,1,0
12,21789,112486,200019,82.883067,2178-07-08 09:03:12,2178-07-11 10:28:40,0,0,0,0,0
13,17020,158088,200020,0.002800,2174-05-14 00:32:29,2174-05-14 08:23:35,1,1,0,1,0
14,61691,109307,200021,60.852320,2114-12-26 19:45:12,2114-12-27 22:46:28,0,0,0,0,0
15,4638,145058,200023,0.002267,2136-08-04 19:52:19,2136-08-04 23:03:13,1,1,0,1,0
16,76603,179633,200024,80.425233,2127-03-03 16:09:07,2127-03-04 01:18:06,1,0,1,0,0
17,19167,164161,200025,49.431323,2113-08-25 09:29:12,2113-08-28 12:42:58,0,0,0,0,0
18,41710,181955,200028,64.868547,2133-10-29 17:13:50,2133-11-01 14:55:14,0,0,0,0,0
19,23650,102161,200029,87.965881,2115-03-29 20:01:10,2115-03-30 01:13:37,1,0,0,1,0
20,14987,165426,200030,54.193080,2150-11-13 14:08:02,2150-11-19 17:51:59,0,0,0,1,0
21,27903,160954,200031,17.842921,2109-07-16 23:37:05,2109-07-17 16:58:27,1,0,0,1,0
22,56369,198650,200033,67.146570,2198-08-07 17:56:17,2198-08-21 14:59:18,0,0,0,1,0
23,98276,145866,200034,54.042073,2186-01-20 10:26:04,2186-01-23 15:38:36,0,0,1,0,0
24,46489,152416,200035,30.674405,2156-10-09 13:56:42,2156-10-10 18:02:07,0,0,0,1,0
25,9960,159243,200036,74.935778,2181-08-26 16:38:25,2181-08-29 16:28:48,0,0,0,1,0
26,21695,150812,200037,0.001083,2141-08-07 09:29:48,2141-08-25 17:16:56,0,1,0,0,0
27,29708,175436,200038,84.965195,2143-10-24 20:35:24,2143-10-25 22:00:02,0,0,1,1,0
28,20147,135441,200039,69.275008,2121-12-26 03:25:00,2122-01-01 15:23:00,0,0,0,1,0
29,52566,182654,200040,72.038998,2153-10-24 16:01:41,2153-10-26 11:39:00,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
61502,32021,186465,299952,0.000759,2170-01-24 06:39:26,2170-03-19 16:05:24,0,1,0,1,0
61503,23200,118320,299954,59.053321,2131-12-06 18:04:32,2131-12-07 14:34:06,1,0,0,1,0
61504,14330,162631,299955,83.588859,2113-05-02 03:53:21,2113-05-03 15:56:01,0,0,1,1,0
61505,58128,108958,299956,56.289580,2177-05-29 07:38:54,2177-06-25 14:06:01,0,0,1,0,0
61506,50334,129555,299957,60.744507,2132-10-13 10:41:17,2132-10-15 12:50:53,0,0,0,0,0
61507,23371,109225,299958,41.974102,2138-08-03 16:55:00,2138-08-04 18:24:00,0,0,0,1,0
61508,17079,119996,299960,52.003075,2201-04-08 16:58:17,2201-04-10 14:26:55,0,0,1,1,0
61509,24244,165022,299961,50.149819,2108-10-05 19:41:16,2108-10-14 13:36:34,0,0,0,0,0
61510,73807,146497,299962,34.269866,2195-11-25 19:04:06,2195-11-26 13:21:12,1,0,0,1,0
61511,27769,131089,299963,0.000132,2133-01-29 01:09:38,2133-03-16 12:13:34,0,1,0,0,0
61512,12856,149336,299964,46.479485,2122-07-13 06:14:31,2122-07-15 21:11:41,0,0,1,1,0
61513,16750,104422,299967,71.332061,2155-08-19 11:09:01,2155-08-21 16:20:19,0,0,0,0,0
61514,23973,179044,299968,0.001762,2143-03-27 15:26:33,2143-04-02 17:33:25,0,1,0,1,0
61515,27219,102678,299969,75.485435,2136-06-29 10:49:34,2136-06-30 17:47:50,0,0,0,0,0
61516,10762,118512,299971,80.258449,2114-04-07 18:09:00,2114-04-08 14:58:00,1,0,0,1,0
61517,7241,150240,299972,34.662562,2174-05-12 05:21:41,2174-05-16 18:29:25,0,0,1,0,0
61518,6018,173478,299973,79.224542,2167-04-28 03:07:42,2167-04-29 06:34:43,0,0,0,0,0
61519,265,101608,299976,55.556131,2149-02-20 10:22:49,2149-02-23 16:18:20,0,0,0,0,0
61520,42728,142693,299979,65.597864,2127-12-05 02:16:42,2127-12-06 18:15:12,0,0,0,1,0
61521,17532,129682,299981,62.143612,2168-08-04 10:58:20,2168-08-06 17:02:09,0,0,0,0,0
61522,16740,154397,299984,78.894156,2185-09-13 11:01:26,2185-09-27 18:40:36,0,0,1,0,0
61523,27349,126991,299986,79.905297,2116-12-17 18:29:21,2116-12-19 15:42:56,0,0,1,1,0
61524,4094,122737,299987,60.701602,2190-10-20 18:35:15,2190-10-21 15:44:43,1,0,0,1,0
61525,11776,161707,299988,32.795636,2190-02-02 08:14:45,2190-02-23 21:09:36,0,0,0,0,0
61526,13083,186679,299992,41.594026,2105-11-21 21:14:34,2105-12-12 16:46:10,0,0,0,0,0
61527,13620,169431,299993,26.228845,2149-11-13 21:01:05,2149-11-16 16:57:30,0,0,0,1,0
61528,10718,177406,299994,74.234336,2114-12-09 11:56:00,2114-12-15 20:29:14,0,0,1,1,0
61529,28775,134959,299995,23.378306,2116-03-04 17:44:39,2116-03-06 18:03:55,0,0,0,0,0
61530,69587,158288,299998,86.958190,2181-07-05 18:47:40,2181-07-07 17:24:38,0,0,0,0,0
61531,7630,129161,299999,48.733163,2117-08-31 09:33:11,2117-09-01 16:42:00,0,0,0,0,0

但是结果显示所有患者都进行了胸部影像学检查，感觉有问题。

In [17]:
print('{:20s} {:5d}'.format('Observations', df.shape[0]))
idxExcl = np.zeros(df.shape[0],dtype=bool)
for col in df.columns:
    if "exclusion_" in col:
        print('{:20s} {:5d} ({:2.2f}%)'.format(col, df[col].sum(), df[col].sum()*100.0/df.shape[0]))
        idxExcl = (idxExcl) | (df[col]==1)
# print a summary of how many were excluded in total
print('')
print('{:20s} {:5d} ({:2.2f}%)'.format('Total excluded', np.sum(idxExcl), np.sum(idxExcl)*100.0/df.shape[0]))

Observations         61532
exclusion_los        12308 (20.00%)
exclusion_age         8109 (13.18%)
exclusion_first_stay 15056 (24.47%)
exclusion_vent       36867 (59.92%)
exclusion_chest          0 (0.00%)

Total excluded       45221 (73.49%)

## 6、对PF做出限制

患者进入ICU，前7天，只要发生过PF<300 则入组，pf是关于患者七天内最小的pf值记录

In [2]:
query=query_schema+"""
SELECT select_patient.*,pf.exclusion_pf
FROM select_patient
LEFT JOIN pf
  ON select_patient.icustay_id=pf.icustay_id
"""
df=pd.read_sql_query(query,con)
df

,subject_id,hadm_id,icustay_id,age,gender,height_first,weight_first,ethnicity,intime,outtime,icu_length_of_stay,exclusion_los,exclusion_age,exclusion_first_stay,exclusion_vent,exclusion_chest,exclusion_pf
0,55973,152234,200001,61.071279,F,170.18,61.00,ASIAN - ASIAN INDIAN,2181-11-25 19:06:12,2181-11-28 20:59:25,3.078623,0,0,1,1,0,1
1,27513,163557,200003,48.296271,M,NaN,77.50,WHITE,2199-08-02 19:50:04,2199-08-08 17:09:18,5.888356,0,0,0,0,0,0
2,10950,189514,200006,54.072308,M,NaN,82.40,OTHER,2159-09-03 11:28:14,2159-09-04 19:08:10,1.319398,0,0,1,0,0,1
3,20707,129310,200007,43.345013,M,177.80,126.00,WHITE,2109-02-17 10:03:37,2109-02-18 17:03:12,1.291377,0,0,0,1,0,1
4,29904,129607,200009,47.555978,F,160.02,87.20,WHITE,2189-11-30 10:34:32,2189-12-02 14:17:37,2.154919,0,0,0,0,0,0
5,11861,192256,200010,27.253056,F,NaN,49.30,BLACK/AFRICAN AMERICAN,2132-08-04 23:03:19,2132-08-05 22:14:11,0.965880,1,0,1,1,0,1
6,93535,121562,200011,84.234751,F,NaN,101.40,WHITE,2188-08-06 01:39:24,2188-08-07 16:50:53,1.632975,0,0,1,0,0,0
7,28448,177527,200012,32.989682,F,NaN,51.20,ASIAN,2153-12-23 05:12:55,2153-12-23 15:55:54,0.446516,1,0,0,1,0,1
8,9514,127229,200014,84.730042,M,167.64,62.00,UNKNOWN/NOT SPECIFIED,2105-02-16 23:16:48,2105-02-18 16:53:29,1.733808,0,0,0,0,0,0
9,74032,117458,200016,67.236698,F,NaN,64.00,WHITE,2150-12-02 15:59:20,2150-12-03 14:54:29,0.954965,1,0,1,1,0,1
10,15909,135069,200017,0.002499,M,39.00,0.40,WHITE,2138-03-17 21:54:36,2138-05-14 17:12:41,57.804225,0,1,0,0,0,0
11,20948,109512,200018,0.004461,F,NaN,NaN,WHITE,2157-11-16 15:06:16,2157-11-16 17:26:32,0.097407,1,1,0,1,0,1
12,21789,112486,200019,82.883067,F,NaN,65.00,WHITE,2178-07-08 09:03:12,2178-07-11 10:28:40,3.059352,0,0,0,0,0,0
13,17020,158088,200020,0.002800,F,NaN,4.43,WHITE,2174-05-14 00:32:29,2174-05-14 08:23:35,0.327153,1,1,0,1,0,1
14,61691,109307,200021,60.852320,M,NaN,82.60,WHITE,2114-12-26 19:45:12,2114-12-27 22:46:28,1.125880,0,0,0,0,0,1
15,4638,145058,200023,0.002267,F,NaN,NaN,WHITE,2136-08-04 19:52:19,2136-08-04 23:03:13,0.132569,1,1,0,1,0,1
16,76603,179633,200024,80.425233,F,NaN,NaN,BLACK/AFRICAN AMERICAN,2127-03-03 16:09:07,2127-03-04 01:18:06,0.381238,1,0,1,0,0,0
17,19167,164161,200025,49.431323,M,193.04,140.40,WHITE,2113-08-25 09:29:12,2113-08-28 12:42:58,3.134560,0,0,0,0,0,0
18,41710,181955,200028,64.868547,M,NaN,84.00,WHITE,2133-10-29 17:13:50,2133-11-01 14:55:14,2.903750,0,0,0,0,0,0
19,23650,102161,200029,87.965881,F,NaN,68.00,WHITE,2115-03-29 20:01:10,2115-03-30 01:13:37,0.216979,1,0,0,1,0,0
20,14987,165426,200030,54.193080,M,187.96,113.60,BLACK/AFRICAN AMERICAN,2150-11-13 14:08:02,2150-11-19 17:51:59,6.155521,0,0,0,1,0,1
21,27903,160954,200031,17.842921,M,NaN,NaN,ASIAN,2109-07-16 23:37:05,2109-07-17 16:58:27,0.723171,1,0,0,1,0,1
22,56369,198650,200033,67.146570,M,172.72,74.00,WHITE,2198-08-07 17:56:17,2198-08-21 14:59:18,13.877095,0,0,0,1,0,1
23,98276,145866,200034,54.042073,F,NaN,45.00,OTHER,2186-01-20 10:26:04,2186-01-23 15:38:36,3.217037,0,0,1,0,0,1
24,46489,152416,200035,30.674405,M,NaN,95.50,BLACK/AFRICAN AMERICAN,2156-10-09 13:56:42,2156-10-10 18:02:07,1.170428,0,0,0,1,0,1
25,9960,159243,200036,74.935778,M,NaN,78.50,WHITE,2181-08-26 16:38:25,2181-08-29 16:28:48,2.993322,0,0,0,1,0,1
26,21695,150812,200037,0.001083,F,45.00,1.99,WHITE,2141-08-07 09:29:48,2141-08-25 17:16:56,18.324398,0,1,0,0,0,0
27,29708,175436,200038,84.965195,M,182.88,72.00,WHITE,2143-10-24 20:35:24,2143-10-25 22:00:02,1.058773,0,0,1,1,0,1
28,20147,135441,200039,69.275008,F,NaN,73.30,WHITE,2121-12-26 03:25:00,2122-01-01 15:23:00,6.498611,0,0,0,1,0,1
29,52566,182654,200040,72.038998,M,177.80,78.60,WHITE,2153-10-24 16:01:41,2153-10-26 11:39:00,1.817581,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61502,32021,186465,299952,0.000759,F,40.00,0.12,BLACK/CAPE VERDEAN,2170-01-24 06:39:26,2170-03-19 16:05:24,54.393032,0,1,0,1,0,1
61503,23200,118320,299954,59.053321,F,NaN,53.90,WHITE,2131-12-06 18:04:32,2131-12-07 14:34:06,0.853866,1,0,0,1,0,1
61504,14330,162631,299955,83.588859,M,NaN,65.70,WHITE,2113-05-02 03:53:21,2113-05-03 15:56:01,1.501852,0,0,1,1,0,1
61505,58128,108958,299956,56.289580,M,170.18,116.60,WHITE,2177-05-29 07:38:54,2177-06-25 14:06:01,27.268831,0,0,1,0,0,0
61506,50334,129555,299957,60.744507,F,165.10,73.60,WHITE,2132-10-13 10:41:17,2132-10-15 12:50:53,2.090000,0,0,0,0,0,1
61507,23371,109225,299958,41.974102,None,NaN,NaN,None,2138-08-03 16:55:00,2138-08-04 18:24:00,1.061806,0,0,0,1,0,1
61508,17079,119996,299960,52.003075,M,173.99,85.00,WHITE,2201-04-08 16:58:17,2201-04-10 14:26:55,1.894884,0,0,1,1,0,1
61509,24244,165022,299961,50.149819,M,198.12,80.00,WHITE,2108-10-05 19:41:16,2108-10-14 13:36:34,8.746736,0,0,0,0,0,0
61510,73807,146497,299962,34.269866,F,NaN,59.50,WHITE,2195-11-25 19:04:06,2195-11-26 13:21:12,0.761875,1,0,0,1,0,1
61511,27769,131089,299963,0.000132,M,44.00,1.98,UNKNOWN/NOT SPECIFIED,2133-01-29 01:09:38,2133-03-16 12:13:34,46.461065,0,1,0,0,0,0
61512,12856,149336,299964,46.479485,F,160.02,136.50,BLACK/AFRICAN AMERICAN,2122-07-13 06:14:31,2122-07-15 21:11:41,2.623032,0,0,1,1,0,1
61513,16750,104422,299967,71.332061,M,180.34,81.80,WHITE,2155-08-19 11:09:01,2155-08-21 16:20:19,2.216181,0,0,0,0,0,0
61514,23973,179044,299968,0.001762,M,50.50,2.88,WHITE,2143-03-27 15:26:33,2143-04-02 17:33:25,6.088102,0,1,0,1,0,0
61515,27219,102678,299969,75.485435,M,177.80,66.90,WHITE,2136-06-29 10:49:34,2136-06-30 17:47:50,1.290463,0,0,0,0,0,1
61516,10762,118512,299971,80.258449,M,177.80,80.90,WHITE,2114-04-07 18:09:00,2114-04-08 14:58:00,0.867361,1,0,0,1,0,1
61517,7241,150240,299972,34.662562,M,190.50,150.00,MULTI RACE ETHNICITY,2174-05-12 05:21:41,2174-05-16 18:29:25,4.547037,0,0,1,0,0,0
61518,6018,173478,299973,79.224542,M,NaN,53.00,WHITE,2167-04-28 03:07:42,2167-04-29 06:34:43,1.143762,0,0,0,0,0,1
61519,265,101608,299976,55.556131,M,175.26,77.20,WHITE,2149-02-20 10:22:49,2149-02-23 16:18:20,3.246887,0,0,0,0,0,0
61520,42728,142693,299979,65.597864,M,NaN,86.30,WHITE,2127-12-05 02:16:42,2127-12-06 18:15:12,1.665625,0,0,0,1,0,1
61521,17532,129682,299981,62.143612,M,177.80,85.50,WHITE,2168-08-04 10:58:20,2168-08-06 17:02:09,2.252650,0,0,0,0,0,0
61522,16740,154397,299984,78.894156,F,160.02,69.70,PATIENT DECLINED TO ANSWER,2185-09-13 11:01:26,2185-09-27 18:40:36,14.318866,0,0,1,0,0,0
61523,27349,126991,299986,79.905297,M,NaN,NaN,WHITE,2116-12-17 18:29:21,2116-12-19 15:42:56,1.884433,0,0,1,1,0,1
61524,4094,122737,299987,60.701602,M,NaN,120.10,WHITE,2190-10-20 18:35:15,2190-10-21 15:44:43,0.881574,1,0,0,1,0,1
61525,11776,161707,299988,32.795636,M,172.72,90.00,WHITE,2190-02-02 08:14:45,2190-02-23 21:09:36,21.538090,0,0,0,0,0,0
61526,13083,186679,299992,41.594026,M,185.42,90.00,WHITE,2105-11-21 21:14:34,2105-12-12 16:46:10,20.813611,0,0,0,0,0,0
61527,13620,169431,299993,26.228845,M,NaN,NaN,WHITE,2149-11-13 21:01:05,2149-11-16 16:57:30,2.830845,0,0,0,1,0,1
61528,10718,177406,299994,74.234336,F,157.48,72.00,WHITE,2114-12-09 11:56:00,2114-12-15 20:29:14,6.356412,0,0,1,1,0,0
61529,28775,134959,299995,23.378306,M,NaN,70.40,WHITE,2116-03-04 17:44:39,2116-03-06 18:03:55,2.013380,0,0,0,0,0,0
61530,69587,158288,299998,86.958190,M,NaN,90.00,WHITE,2181-07-05 18:47:40,2181-07-07 17:24:38,1.942338,0,0,0,0,0,0
61531,7630,129161,299999,48.733163,M,172.72,80.60,WHITE,2117-08-31 09:33:11,2117-09-01 16:42:00,1.297789,0,0,0,0,0,0

In [3]:
print('{:20s} {:5d}'.format('Observations', df.shape[0]))
idxExcl = np.zeros(df.shape[0],dtype=bool)
for col in df.columns:
    if "exclusion_" in col:
        print('{:20s} {:5d} ({:2.2f}%)'.format(col, df[col].sum(), df[col].sum()*100.0/df.shape[0]))
        idxExcl = (idxExcl) | (df[col]==1)
# print a summary of how many were excluded in total
print('')
print('{:20s} {:5d} ({:2.2f}%)'.format('Total excluded', np.sum(idxExcl), np.sum(idxExcl)*100.0/df.shape[0]))

Observations         61532
exclusion_los        12308 (20.00%)
exclusion_age         8109 (13.18%)
exclusion_first_stay 15056 (24.47%)
exclusion_vent       36867 (59.92%)
exclusion_chest          0 (0.00%)
exclusion_pf         37550 (61.03%)

Total excluded       48662 (79.08%)

In [4]:
61532-48662

12870